# .env.example - Versão sem dados reais

EMAIL_NATS=youremail@gmail.com
PASSWORD_APP_NATS=your_password_here

# Planilha central de controle
SPREADSHEET_ID_CONTROL=id_da_planilha_de_controle

# Configuração de testes
TEST_EMAIL=teste@exemplo.com
TEST_MODE=True